**/plugged/**

**/packer_compiled.lua
vifminfo.json

# That is a sub-repo of awesome, and I download it in my bootstrap.sh
awesome-wm-widgets

nosudo-for-jorres

# Some bins
yc-yubikey-cli
helm
kubectl 

building-manually
