snippet htmll "HTML basic structure with the lang attribute" b
<!DOCTYPE html>
<html lang="${1:en}">
	<head>
		<meta charset="UTF-8" />
		<title></title>
		<link rel="stylesheet" href="style.css">
		<script src="script.js"></script>
	</head>
	<body>
		${0:body}
	</body>
</html>
endsnippet
